<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title><%= title %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>Új zene hozzáadása</h1>
    <form method="POST">
        <label>
          <b>Cím: </b> <br>
          <input type="text" name="title"><br>
        </label>
        <label>
          <b>Szerző: </b> <br>
          <input type="text" name="artist"><br>
        </label>
        <label>
          <b>Hossz(mp):</b> <br>
          <input type="number" name="length" placeholder="0mp"><br>
        </label>
        <input type="submit" value="Hozzáadás">
      </form>
</body>
</html>